html body {
	background-color: #142850;
}
.Heading {
	color: #00A8CC;
	text-align: center;
}

p {
	color: #0C7B93;
	font-size: 30px;
}

.white {
	background-color: white;
}

.color {
	color: #0d6efd !important;
}

.circle {
	border-radius: 50% !important;
}
